@model IEnumerable<CadastroAlunos.Models.Alunos>

@{
    ViewData["Title"] = "Index";
    var valorTotal = Model.Sum(p => p.ValorMensal);
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Administrators" asp-action="Index" method="get">
    <div class="row">
        <div class="col">
            <label>Data Pgto</label>
            <input type="text" name="initialDate" class="form-control"/>
        </div>
        <div class="col">
            <input type="submit" value="Filtrar" class="btn btn-sm btn-primary"/>
        </div>
    </div>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaPgto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorMensal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAluno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaPgto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorMensal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAluno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlunosId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AlunosId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AlunosId">Delete</a>
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <tr>
            <td>
                <strong>Valor total:</strong> @valorTotal.ToString()
            </td>
        </tr>
    </tfoot>
</table>
